#navigation { 
    position: relative;
}

div#menuxContainer  div { 
    display: none;
}

div#menuxContainer div.menuxItem {
    height: 250px;
    width: 750px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position: absolute;
    z-index: 10000000;
    top: 30px;
    left: 60px;
    padding: 5px 2px;
}


div#menuxContainer div div { 
    display: block;
    padding: 10px;  
    background-color: transparent;
    border: none;
    position: relative;
    top: 0;
    left: 0;
    padding: 5px 2px;
      
}


